*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@media (max-width:350px) {
  
}

.history {
  background-color: #282c34;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.headers{
  display: flex;
}

/* 
Nav Bar
*/

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 1rem;
}

.navLinkContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

@media (max-width: 350px) {
  .navBar {
    flex-direction: column;
    margin: 10px, 0, 10px, 0px;
  }
  .nav-link {
    font-size: small;
  }
}



.nav-ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link{
  color: #282c34;
  text-decoration: none;
  font-weight: bold;
}
.nav-link:hover {
  color: rgb(189, 30, 30);
  text-decoration: none;
}

.auth-btn {
  background-color: gray;
  align-items: end;
  border-radius: 6px;
  color: white;
  margin-left: 10 rem;
  border-style: none;
  width: 4rem;
  height: 1.5rem;
}

/* 
AgPrice and Profile Page
*/
.table-title {
  word-spacing: 3rem;
}
.table-container {
  border-style: solid;
  border-color: 1px, white;
  border-radius: 7px;
  align-content: center;
  
}
th {
  background-color: black;
}

tr:nth-child(even){background-color: gray;}

td {
  text-align:left;
  border: 0px solid;
}

.table-c th, .table-c td {
  border: 0px solid;
  
}
.stock-valueA {
  text-indent: 4rem ;
}
.stock-valueB {
  text-indent: 4rem;
}
.stock-valueC {
  text-indent: 4rem;
}
.table-c {
  width: 60.4rem;
  height: 12rem;
  border: none;
}
.search-input {
  width: 15rem;
  height: 2rem;
  border-radius: 7px;
  text-align: center;
}

.search-btn {
  width:10rem;
  height: 2rem;
  border-radius: 7px;
  margin:1rem;
  border-style: none;
  font-weight: 800;
}

.date-text {
  font-size:.75rem;
}

.search-box {
  border-style: solid;
  border-color: 1px, white;
  border-radius: 7px;
  width: 29rem;
  
}

.calculation-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

/* 
Commodities
*/
.history-main-container {
  display: flex;
}

.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-color: 1px, white;
  border-radius: 7px;
  width: 23rem ;
  margin: 1rem;
}